@font-face {
  font-family: minecraft;
  src: url(/MinecraftRegular-Bmg3.otf);
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: minecraft, Arial, Helvetica, sans-serif;
  background-image: url("/images/background.png");
  background-position: center;
}
header {
  margin: 10px 0 0 0;
}
.counter {
  margin: 2px;
  font-size: 22px;
  text-align: center;
}
.settingsBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 55px;
  width: 55px;
  background-image: url("/images/gear.png");
  background-position: center;
  border-radius: 100%;
  background-color: transparent;
  border: 0;
}

.settingsBtn:hover {
  transform: rotate(0.06turn);
  cursor: pointer;
}
.settingsPage {
  position: absolute;
  top: 70px;
  right: 10vw;
  width: 80%;
  height: 88%;
  border-radius: 15px;
  border: 4px solid rgb(97, 46, 10);
  background-color: wheat;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
}
.settingsPage input {
  width: 60%;
}
.settingsPage button {
  width: 80px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cookie {
  border-radius: 100%;
  margin: auto;
  width: 35vh;
  height: 35vh;
  background-color: transparent;
}
.cookie:hover {
  transform: scale(1.05);
}

nav {
  width: 100%;
  margin: 5px 0;
  display: flex;
  justify-content: space-around;
}
nav button {
  height: 50px;
  font-family: minecraft, Arial, Helvetica, sans-serif;
  font-size: 20px;
  width: 45%;
  border-radius: 8px;
  border: 4px solid rgb(97, 46, 10);
  background-color: rgb(97, 46, 10);
  color: wheat;
}

nav button:hover {
  background-color: rgb(216, 164, 118);
  color: black;
  cursor: pointer;
}

.content {
  width: 60%;
  min-width: 360px;
}
.upgradeContainer {
  padding: 5px 10px;
  border-radius: 15px;
  border: 4px solid rgb(97, 46, 10);
  background-color: wheat;
  overflow-y: scroll;
  height: 40vh;
  scrollbar-width: none;
}

.upgrade,
.clickUpgrade {
  text-align: center;
  padding: 5px 20px;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  border: 4px solid rgb(97, 46, 10);
  background-color: rgb(216, 164, 118);
}

.upgrade button,
.clickUpgrade button {
  font-family: minecraft, Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: wheat;
  text-align: center;
  width: 60px;
  border-radius: 8px;
  border: 4px solid rgb(97, 46, 10);
  background-color: rgb(97, 46, 10);
}

.upgrade button:hover,
.clickUpgrade button:hover {
  background-color: rgb(216, 164, 118);
  color: black;
  cursor: pointer;
}
